<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
<br />
  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>
  <br />
  <p>
    <strong>Synopsis:</strong>
    <%= book.synopsis %>
  </p>


</div>
